body {
	font-family: sans-serif;
	color: #333;
}
header {
	text-align: center;
	background: pink;
	color: #FFC0CB;
	border-color: rgb(255, 192, 203);
}
a {
	color: #339988;
}
h1 {
	color: #ffffff;
	font-size: 48px;
}
#About {
	background: #FFCA59;

}
.about {
	background: blue;
}
.stacked {
	padding: 10px;
}
.stacked {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}
.stacked {
	padding: 50px 100px 50px 100px;
}
.stacked {
	padding: 50px 100px;
}
.contact {
	text-align: center;
	color: #FFF;
	background: url(images/dark_embroidery.png);
}
.contact img {
	width: 100px;
	margin: 10px;
	border-radius: 50%;
	border: none;
}
header {
	background: url(images/background-small.jpg);
	background-size: cover;
}
header {
	background: url(images/background.jpg);
	background-attachment: fixed;
}
header img {
	border: 3px solid #fff;
	border-radius: 50%;
	padding: 10px;
}
.contact img:hover {
	opacity: 0.5;
}
ul.websites {
	padding: 0;
}
ul.websites li {
	list-style: none;
	display: inline-block;
}
.website a {
	background: #38A88F;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 24px;
	display: block;
}
.website a:hover {
	background: #666;
}
p, ul, ol {
	line-height: 1.5;
}
ul.website li {
	margin-bottom: 5px;
}